#terraform
.terraform
terraform.tfstate
*.tfstate*
*.tfstate.*
_backend.tf
*_override.tf

.debug.sh

# tags
[._]*.un~

# vscode
.vscode/*
!.vscode/task.json
!.vscode/launch.json
!.vscode/extensions.json

**/.terragrunt-cache
skip-deprovision
**/_pycache__

# draft files
*.tfx
checkov_errors.tf
*.lint.sh
workflow.json
